body {
    font-family: Arial, sans-serif;
}

nav .nav-link {
    font-size: 0.9rem;
    padding: 0 8px;
}

h1 {
    font-size: 1.5rem;
}

p {
    line-height: 1.6;
}

.me-picture{
    width: 10px;
}

.text{
    text-align: left;
    align-items: center;
    justify-content: left;
}